langchain 
faiss-cpu 
transformers
langchain_text_splitters
langchain_huggingface
sentence-transformers<3.0
langchain-community
langchain-chroma
langchain_google_genai
google-generativeai
pypdf
chromadb
nltk